{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://gen.pollinations.ai"
    }
  ],
  "info": {
    "title": "Pollinations API",
    "description": "## Introduction\n\nGenerate text, images, video, audio, and embeddings with a single API. OpenAI-compatible — use any OpenAI SDK by changing the base URL.\n\n**Base URL:** `https://gen.pollinations.ai`\n\n**Get your API key:** [enter.pollinations.ai](https://enter.pollinations.ai)\n\n## Overview\n\n| Capability | Endpoint | Format |\n|---|---|---|\n| ✍️ **Text Generation** | `POST /v1/chat/completions` | OpenAI-compatible |\n| ✍️ **Simple Text** | `GET /text/{prompt}` | Plain text |\n| 🖼️ **Image Generation** | `GET /image/{prompt}` | JPEG / PNG |\n| 🎬 **Video Generation** | `GET /video/{prompt}` | MP4 |\n| 🔊 **Text-to-Speech** | `GET /audio/{text}` | MP3 |\n| 🔊 **Music Generation** | `GET /audio/{text}` | MP3 |\n| 🔊 **Transcription** | `POST /v1/audio/transcriptions` | JSON |\n| 🤖 **Model Discovery** | `GET /v1/models` | JSON |\n\n## Quick Start\n\n### Generate an Image\n\nPaste this URL in your browser — no code needed:\n\n```\nhttps://gen.pollinations.ai/image/a%20cat%20in%20space\n```\n\nOr use it directly in HTML:\n\n```html\n<img src=\"https://gen.pollinations.ai/image/a%20cat%20in%20space\" />\n```\n\n### Generate Text (OpenAI-compatible)\n\n```bash\ncurl https://gen.pollinations.ai/v1/chat/completions \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"model\": \"openai\", \"messages\": [{\"role\": \"user\", \"content\": \"Hello!\"}]}'\n```\n\n### Generate Speech\n\n```bash\ncurl \"https://gen.pollinations.ai/audio/Hello%20world?voice=nova\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" -o speech.mp3\n```\n\n## 🔐 Authentication\n\nAll generation requests require an API key from [enter.pollinations.ai](https://enter.pollinations.ai). Model listing endpoints work without authentication.\n\n**Two key types:**\n\n| Type | Prefix | Use case | Rate limits |\n|------|--------|----------|-------------|\n| Secret | `sk_` | Server-side apps | None |\n| Publishable | `pk_` | Client-side apps (beta) | 1 pollen/IP/hour |\n\n**How to authenticate:**\n\n```bash\n# Option 1: Authorization header (recommended)\ncurl -H \"Authorization: Bearer YOUR_API_KEY\" ...\n\n# Option 2: Query parameter\ncurl \"https://gen.pollinations.ai/text/hello?key=YOUR_API_KEY\"\n```\n\n> **Warning:** Never expose secret keys (`sk_`) in client-side code. Use publishable keys (`pk_`) for frontend apps.",
    "version": "0.3.0"
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "pollinations.ai API key (pk_ or sk_)"
      }
    },
    "schemas": {
      "ErrorDetails": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "upstreamStatus": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "upstreamHost": {
            "type": "string"
          },
          "upstreamBody": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "ValidationErrorDetails": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "formErrors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fieldErrors": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "name",
          "formErrors",
          "fieldErrors"
        ]
      },
      "CreateSpeechRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string"
          },
          "input": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4096,
            "description": "The text to generate audio for. Maximum 4096 characters.",
            "example": "Hello, welcome to Pollinations!"
          },
          "safe": {
            "description": "Safety features: comma-separated list of privacy, secrets, sexual, violence, shield, true, nsfw. true enables privacy,secrets; nsfw enables sexual,violence. Also accepted in the Pollinations-Safe header. Defaults to off; false and 0 are accepted as off.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "boolean"
              }
            ]
          },
          "voice": {
            "default": "alloy",
            "description": "The voice to use. Can be any preset name (alloy, echo, fable, onyx, nova, shimmer, ash, ballad, coral, sage, verse, rachel, domi, bella, elli, charlotte, dorothy, sarah, emily, lily, matilda, adam, antoni, arnold, josh, sam, daniel, charlie, james, fin, callum, liam, george, brian, bill) OR a custom ElevenLabs voice ID (UUID from your dashboard).",
            "example": "rachel",
            "type": "string"
          },
          "response_format": {
            "default": "mp3",
            "description": "The audio format for the output. Qwen TTS currently returns WAV regardless of this setting.",
            "example": "mp3",
            "type": "string",
            "enum": [
              "mp3",
              "opus",
              "aac",
              "flac",
              "wav",
              "pcm"
            ]
          },
          "speed": {
            "default": 1,
            "description": "The speed of the generated audio. 0.25 to 4.0, default 1.0.",
            "example": 1,
            "type": "number",
            "minimum": 0.25,
            "maximum": 4
          },
          "duration": {
            "description": "Music duration in seconds, 3-300 (elevenmusic/acestep)",
            "example": 30,
            "type": "number",
            "minimum": 3,
            "maximum": 300
          },
          "instrumental": {
            "description": "If true, guarantees instrumental output (elevenmusic only)",
            "example": false,
            "type": "boolean"
          },
          "seed": {
            "description": "Seed for deterministic output. Same seed + params = best-effort return of the same cached result. Omit for random.",
            "example": 42,
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967295
          },
          "style": {
            "description": "Style/genre tags for music generation (acestep only). If omitted, style is auto-detected from the input text.",
            "example": "brazilian berimbau instrumental",
            "type": "string"
          },
          "instruct": {
            "description": "Emotion/style instruction (qwen-tts-instruct only). e.g. 'excited and cheerful'.",
            "example": "speak softly and warmly",
            "type": "string"
          }
        },
        "required": [
          "input"
        ]
      },
      "CacheControl": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ephemeral"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "ContentFilterSeverity": {
        "type": "string",
        "enum": [
          "safe",
          "low",
          "medium",
          "high"
        ]
      },
      "ContentFilterResult": {
        "type": "object",
        "properties": {
          "hate": {
            "type": "object",
            "properties": {
              "filtered": {
                "type": "boolean"
              },
              "severity": {
                "$ref": "#/components/schemas/ContentFilterSeverity"
              }
            },
            "required": [
              "filtered",
              "severity"
            ]
          },
          "self_harm": {
            "type": "object",
            "properties": {
              "filtered": {
                "type": "boolean"
              },
              "severity": {
                "$ref": "#/components/schemas/ContentFilterSeverity"
              }
            },
            "required": [
              "filtered",
              "severity"
            ]
          },
          "sexual": {
            "type": "object",
            "properties": {
              "filtered": {
                "type": "boolean"
              },
              "severity": {
                "$ref": "#/components/schemas/ContentFilterSeverity"
              }
            },
            "required": [
              "filtered",
              "severity"
            ]
          },
          "violence": {
            "type": "object",
            "properties": {
              "filtered": {
                "type": "boolean"
              },
              "severity": {
                "$ref": "#/components/schemas/ContentFilterSeverity"
              }
            },
            "required": [
              "filtered",
              "severity"
            ]
          },
          "jailbreak": {
            "type": "object",
            "properties": {
              "filtered": {
                "type": "boolean"
              },
              "detected": {
                "type": "boolean"
              }
            },
            "required": [
              "filtered",
              "detected"
            ]
          },
          "protected_material_text": {
            "type": "object",
            "properties": {
              "filtered": {
                "type": "boolean"
              },
              "detected": {
                "type": "boolean"
              }
            },
            "required": [
              "filtered",
              "detected"
            ]
          },
          "protected_material_code": {
            "type": "object",
            "properties": {
              "filtered": {
                "type": "boolean"
              },
              "detected": {
                "type": "boolean"
              }
            },
            "required": [
              "filtered",
              "detected"
            ]
          }
        }
      },
      "CompletionUsage": {
        "type": "object",
        "properties": {
          "completion_tokens": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "completion_tokens_details": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "accepted_prediction_tokens": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 9007199254740991
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "audio_tokens": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 9007199254740991
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "reasoning_tokens": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 9007199254740991
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "rejected_prediction_tokens": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 9007199254740991
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "prompt_tokens": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "prompt_tokens_details": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "audio_tokens": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 9007199254740991
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "cached_tokens": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 9007199254740991
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "total_tokens": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "completion_tokens",
          "prompt_tokens",
          "total_tokens"
        ]
      },
      "MessageContentPart": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "text"
              },
              "text": {
                "type": "string"
              },
              "cache_control": {
                "$ref": "#/components/schemas/CacheControl"
              }
            },
            "required": [
              "type",
              "text"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "image_url"
              },
              "image_url": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "detail": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "low",
                      "high"
                    ]
                  },
                  "mime_type": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              }
            },
            "required": [
              "type",
              "image_url"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "video_url"
              },
              "video_url": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "mime_type": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              }
            },
            "required": [
              "type",
              "video_url"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "input_audio"
              },
              "input_audio": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "wav",
                      "mp3",
                      "flac",
                      "opus",
                      "pcm16"
                    ]
                  }
                },
                "required": [
                  "data",
                  "format"
                ]
              },
              "cache_control": {
                "$ref": "#/components/schemas/CacheControl"
              }
            },
            "required": [
              "type",
              "input_audio"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "file"
              },
              "file": {
                "type": "object",
                "properties": {
                  "file_data": {
                    "type": "string"
                  },
                  "file_id": {
                    "type": "string"
                  },
                  "file_name": {
                    "type": "string"
                  },
                  "file_url": {
                    "type": "string"
                  },
                  "mime_type": {
                    "type": "string"
                  }
                }
              },
              "cache_control": {
                "$ref": "#/components/schemas/CacheControl"
              }
            },
            "required": [
              "type",
              "file"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              }
            },
            "required": [
              "type"
            ],
            "additionalProperties": {}
          }
        ]
      },
      "CreateEmbeddingResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "const": "embedding"
                },
                "embedding": {
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "description": "Embedding vector — array of floats, or base64-encoded Float32 (little-endian) when `encoding_format=base64`."
                },
                "index": {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991,
                  "description": "Index of the embedding in the list"
                }
              },
              "required": [
                "object",
                "embedding",
                "index"
              ]
            }
          },
          "model": {
            "type": "string"
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "total_tokens": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "prompt_tokens",
              "total_tokens"
            ]
          }
        },
        "required": [
          "object",
          "data",
          "model",
          "usage"
        ]
      },
      "CreateEmbeddingRequest": {
        "type": "object",
        "properties": {
          "model": {
            "default": "openai-3-small",
            "description": "Embedding model to use",
            "example": "gemini-2",
            "type": "string"
          },
          "input": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "maxItems": 32,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "text"
                      },
                      "text": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "text"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "image_url"
                      },
                      "image_url": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "Image URL or base64 data URI",
                            "example": "https://example.com/image.jpg"
                          }
                        },
                        "required": [
                          "url"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "image_url"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "input_audio"
                      },
                      "input_audio": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string",
                            "description": "Base64-encoded audio data. Max 180s."
                          },
                          "format": {
                            "type": "string",
                            "description": "Audio format (e.g. mp3, wav)",
                            "example": "mp3"
                          }
                        },
                        "required": [
                          "data",
                          "format"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "input_audio"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "video_url"
                      },
                      "video_url": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "Video URL or base64 data URI. Supports mp4 and mpeg. Max 120s.",
                            "example": "https://example.com/video.mp4"
                          },
                          "mime_type": {
                            "description": "Video MIME type (auto-detected if omitted). Supported: video/mp4, video/mpeg.",
                            "example": "video/mp4",
                            "type": "string"
                          }
                        },
                        "required": [
                          "url"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "video_url"
                    ]
                  }
                ]
              },
              {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "text"
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "text"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "image_url"
                        },
                        "image_url": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "Image URL or base64 data URI",
                              "example": "https://example.com/image.jpg"
                            }
                          },
                          "required": [
                            "url"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "image_url"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "input_audio"
                        },
                        "input_audio": {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "string",
                              "description": "Base64-encoded audio data. Max 180s."
                            },
                            "format": {
                              "type": "string",
                              "description": "Audio format (e.g. mp3, wav)",
                              "example": "mp3"
                            }
                          },
                          "required": [
                            "data",
                            "format"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "input_audio"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "video_url"
                        },
                        "video_url": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "Video URL or base64 data URI. Supports mp4 and mpeg. Max 120s.",
                              "example": "https://example.com/video.mp4"
                            },
                            "mime_type": {
                              "description": "Video MIME type (auto-detected if omitted). Supported: video/mp4, video/mpeg.",
                              "example": "video/mp4",
                              "type": "string"
                            }
                          },
                          "required": [
                            "url"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "video_url"
                      ]
                    }
                  ]
                }
              }
            ],
            "description": "Input text or content parts to embed. Supports strings, arrays of strings (max 32 inputs), or multimodal content parts (text, image_url, input_audio, video_url). Multimodal content parts are supported by Gemini embedding models only.",
            "example": "Hello world"
          },
          "dimensions": {
            "description": "Output embedding dimensions (128-3072). Model-specific limits apply; openai-3-small supports up to 1536.",
            "example": 768,
            "type": "integer",
            "minimum": 128,
            "maximum": 3072
          },
          "task_type": {
            "description": "Gemini-specific task type hint for optimized embeddings",
            "example": "RETRIEVAL_QUERY",
            "type": "string",
            "enum": [
              "SEMANTIC_SIMILARITY",
              "CLASSIFICATION",
              "CLUSTERING",
              "RETRIEVAL_DOCUMENT",
              "RETRIEVAL_QUERY",
              "CODE_RETRIEVAL_QUERY",
              "QUESTION_ANSWERING",
              "FACT_VERIFICATION"
            ]
          },
          "encoding_format": {
            "default": "float",
            "description": "Output encoding for the embedding vector. `base64` packs Float32 little-endian like OpenAI.",
            "example": "float",
            "type": "string",
            "enum": [
              "float",
              "base64"
            ]
          }
        },
        "required": [
          "input"
        ]
      },
      "CreateImageResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "b64_json": {
                  "type": "string"
                },
                "revised_prompt": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "created",
          "data"
        ]
      },
      "CreateImageRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32000,
            "description": "A text description of the desired image(s)"
          },
          "model": {
            "default": "flux",
            "description": "The model to use for image generation",
            "type": "string"
          },
          "n": {
            "default": 1,
            "description": "Number of images to generate (currently max 1)",
            "type": "integer",
            "minimum": 1,
            "maximum": 1
          },
          "size": {
            "default": "1024x1024",
            "description": "Image size as WIDTHxHEIGHT (e.g., 1024x1024, 512x512)",
            "type": "string"
          },
          "quality": {
            "default": "medium",
            "description": "Image quality. OpenAI 'standard'/'hd' mapped to Pollinations equivalents",
            "type": "string",
            "enum": [
              "standard",
              "hd",
              "low",
              "medium",
              "high"
            ]
          },
          "response_format": {
            "default": "b64_json",
            "description": "Return format. \"url\" returns a pollinations.ai URL, \"b64_json\" returns base64-encoded image data",
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ]
          },
          "user": {
            "description": "End-user identifier for abuse tracking",
            "type": "string"
          },
          "image": {
            "description": "Reference image URL(s) for image-to-image generation (Pollinations extension)",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "safe": {
            "description": "Safety features: comma-separated list of privacy, secrets, sexual, violence, shield, true, nsfw. true enables privacy,secrets; nsfw enables sexual,violence. Also accepted in the Pollinations-Safe header. Defaults to off; false and 0 are accepted as off.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "boolean"
              }
            ]
          }
        },
        "required": [
          "prompt"
        ],
        "additionalProperties": {}
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "👤 Account",
      "description": "Manage your account, check your pollen balance, and view usage history. All endpoints require authentication.\n\n| Endpoint | Description |\n|----------|-------------|\n| `GET /account/profile` | GitHub username and profile image |\n| `GET /account/balance` | Current pollen balance |\n| `GET /account/usage` | Per-request history with costs |\n| `GET /account/usage/daily` | Daily aggregated usage for dashboards |\n| `GET /account/key` | API key validity, type, and permissions |\n\nWhen using API keys, specific permissions may be required, such as `account:usage` or `account:profile`."
    },
    {
      "name": "✍️ Text Generation",
      "description": "Generate text responses using AI models. Fully compatible with the OpenAI Chat Completions API — use any OpenAI SDK by changing the base URL.\n\n| Endpoint | Best for |\n|----------|----------|\n| `POST /v1/chat/completions` | Full OpenAI compatibility — streaming, tools, vision, structured outputs |\n| `GET /text/{prompt}` | Quick prototyping — simple GET, returns plain text |\n\n**Available models:** openai, openai-fast, openai-large, gpt-5.4-mini, gpt-5.5, qwen-coder, mistral, mistral-4, openai-audio, openai-audio-large, gemini, gemini-flash-lite-3.1, gemini-fast, deepseek, gemma, deepseek-pro, grok, grok-large, gemini-search, midijourney, midijourney-large, claude-fast, claude, claude-large, claude-opus-4.7, perplexity-fast, perplexity-reasoning, kimi, kimi-k2.6, gemini-large, nova-fast, nova, glm, llama, llama-maverick, llama-scout, minimax, mistral-large, polly, qwen-coder-large, qwen-large, qwen-vision, qwen-vision-pro, qwen-safety"
    },
    {
      "name": "🖼️ Image Generation",
      "description": "Generate images from text prompts via a simple GET request. Returns JPEG or PNG.\n\n```\nhttps://gen.pollinations.ai/image/a%20cat%20in%20space?model=flux\n```\n\n**Available models:** kontext, nanobanana, nanobanana-2, nanobanana-pro, seedream5, seedream, seedream-pro, gptimage, gptimage-large, gpt-image-2, flux, zimage, wan-image, wan-image-pro, qwen-image, grok-imagine, grok-imagine-pro, klein, p-image, p-image-edit, nova-canvas"
    },
    {
      "name": "🎬 Video Generation",
      "description": "Generate videos from text prompts or reference images. Returns MP4.\n\n```\nhttps://gen.pollinations.ai/video/sunset%20timelapse?model=veo&duration=4\n```\n\n**Available models:** veo, seedance, seedance-pro, seedance-2.0, wan, wan-fast, grok-video-pro, ltx-2, p-video, nova-reel"
    },
    {
      "name": "🔊 Audio Generation",
      "description": "Text-to-speech, music generation, and audio transcription.\n\n| Endpoint | Description |\n|----------|-------------|\n| `GET /audio/{text}` | Simple URL-based TTS or music generation |\n| `POST /v1/audio/speech` | OpenAI-compatible TTS |\n| `POST /v1/audio/transcriptions` | Speech-to-text transcription |\n\n**Audio models:** elevenlabs, elevenflash, elevenmusic, whisper, scribe, universal-2, universal-3-pro, acestep, qwen-tts, qwen-tts-instruct\n\n**Available voices:** alloy, echo, fable, onyx, nova, shimmer, ash, ballad, coral, sage, verse, rachel, domi, bella, elli, charlotte, dorothy, sarah, emily, lily, matilda, adam, antoni, arnold, josh, sam, daniel, charlie, james, fin, callum, liam, george, brian, bill"
    },
    {
      "name": "🔢 Embeddings",
      "description": "Generate vector embeddings with an OpenAI-compatible response format.\n\n| Endpoint | Description |\n|----------|-------------|\n| `POST /v1/embeddings` | OpenAI-compatible embeddings endpoint |\n| `GET /embeddings/models` | Embedding models with pricing and modalities |\n\n`gemini-2` supports text, image, audio, and video inputs. `openai-3-small` and `openai-3-large` are text-only models.\n\nString batch input supports up to 32 items. `task_type` is Gemini-only. Dimensions are model-specific: `openai-3-small` supports up to 1536; `gemini-2` and `openai-3-large` support up to 3072.\n\n**Embedding models:** gemini-2, openai-3-small, openai-3-large"
    },
    {
      "name": "📦 Media Storage",
      "description": "Content-addressed media storage. Upload and retrieve images, audio, and video by content hash.\n\n| Endpoint | Description |\n|----------|-------------|\n| `POST /upload` | Upload a file, receive a content-addressed URL |\n| `GET /{hash}` | Retrieve a previously uploaded file |\n| `GET /{hash}/metadata` | Get file metadata as JSON |\n\n**Base URL:** https://media.pollinations.ai"
    },
    {
      "name": "🤖 Models",
      "description": "Discover available models with pricing, capabilities, and metadata. No authentication required.\n\n| Endpoint | Returns |\n|----------|---------|\n| `GET /models` | All models with pricing, capabilities, and metadata |\n| `GET /v1/models` | All models in OpenAI-compatible format (`{object: \"list\", data: [...]}`) |\n| `GET /text/models` | Text models with pricing, context window, tool support |\n| `GET /image/models` | Image & video models with capabilities and pricing |\n| `GET /audio/models` | Audio models with supported voices |\n| `GET /embeddings/models` | Embedding models with supported modalities |"
    },
    {
      "name": "🛡️ Request Safety Checking",
      "description": "Optional safety checking runs on text input before generation. Omitted, `false`, or `0` means off.\n\nUse `safe` as a query parameter or JSON body field, or send the same value in the `Pollinations-Safe` header.\n\nValues: `privacy` redacts personal information like names, email, phone, address, IP, URLs, and usernames. `secrets` redacts keys and passwords. `sexual`, `violence`, and `shield` block matching requests. Aliases: `true` = `privacy,secrets`, `nsfw` = `sexual,violence`.\n\n```bash\ncurl \"https://gen.pollinations.ai/text/email%20me%20at%20a%40example.com?safe=privacy\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\"\n\ncurl https://gen.pollinations.ai/v1/chat/completions \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Pollinations-Safe: privacy\" \\\n  -d '{\"model\":\"openai\",\"messages\":[{\"role\":\"user\",\"content\":\"email me at a@example.com\"}]}'\n```\n\nLarge requests check the latest 50,000 text characters, across up to 25 text parts, in one safety call.\n\nBlocked requests return `400` with `error.type: \"safety_error\"`. Safety service failures return `503`. Check `X-Safety-Applied`, `X-Safety-Redacted`, and `X-Safety-Status` headers."
    },
    {
      "name": "❌ Errors",
      "description": "All errors return JSON with a consistent shape:\n\n```json\n{\n  \"status\": 400,\n  \"success\": false,\n  \"error\": {\n    \"code\": \"BAD_REQUEST\",\n    \"message\": \"Description of what went wrong\"\n  }\n}\n```\n\n| Status | Meaning |\n|--------|---------|\n| `400` | Invalid parameters or malformed request |\n| `401` | Missing or invalid API key |\n| `402` | Insufficient pollen balance |\n| `403` | API key lacks required permission |\n| `500` | Internal server error |"
    },
    {
      "name": "🌸 Bring Your Own Pollen",
      "description": "Bring Your Own Pollen lets your users authorize your app to spend their own Pollen on Pollinations requests. Your publishable App Key (`pk_...`) identifies the app; after approval, Pollinations returns a scoped user key (`sk_...`) for API calls.\n\nUsers stay in control of their balance, budgets, and revocation; your app never has to pay for their usage.\n\n## 🗝️ App Key\n\nAn **App Key** (`pk_...`) is the publishable key your app sends users to Pollinations with. Without one, the consent screen falls back to the redirect hostname and traffic isn't attributed to your account.\n\nTo create one, go to [enter.pollinations.ai](https://enter.pollinations.ai) → **Create New App Key**:\n\n<p align=\"left\"><img src=\"https://media.pollinations.ai/1133540dc4c19635\" alt=\"Edit App Key\" width=\"420\"></p>\n\nSet the **Name** (shows on the consent screen). For web apps, add at least one **Redirect URI** (your exact callback URL). The key you get back is your `client_id` (a `pk_...` publishable key; the legacy name `app_key` is still accepted).\n\nWhen a user lands on the consent screen signed-out, they're prompted to continue with GitHub:\n\n<p align=\"left\"><img src=\"https://media.pollinations.ai/fbc04dd1c77dbfd8\" alt=\"Authorize — signed out\" width=\"420\"></p>\n\nOnce signed in, they review the requested access and confirm:\n\n<p align=\"left\"><img src=\"https://media.pollinations.ai/a7e4a1e9c5f48b8d\" alt=\"Authorize — signed in\" width=\"420\"></p>\n\n## Developer Earnings\n\nDeveloper earnings are opt-in per App Key. When enabled, users pay 25% over base rates. The markup credits to your balance.\n\n```text\nBase request cost: 1.00 pollen\nUser pays:         1.25 pollen\nYou receive:       0.25 pollen\n```\n\nCredits land in the same balance type the user paid from: tier balance when the request used tier balance, paid balance when it used paid balance.\n\nPass `earningsEnabled: true` when creating an App Key via the API, or toggle it later from the dashboard:\n\n```bash\ncurl -X POST https://gen.pollinations.ai/account/keys \\\n  -H 'Authorization: Bearer sk_yoursecretkey' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"name\":\"my-app\",\"type\":\"publishable\",\"redirectUris\":[\"https://myapp.com/callback\"],\"earningsEnabled\":true}'\n```\n\n## ⚙️ Web Apps (Redirect Flow)\n\n### 1. Build the Auth Link\n\nWith `client_id` (consent screen shows your app name + your GitHub):\n```\nhttps://enter.pollinations.ai/authorize?redirect_uri=https://myapp.com&client_id=pk_yourkey\n```\n\nWithout (still works, just shows the hostname):\n```\nhttps://enter.pollinations.ai/authorize?redirect_uri=https://myapp.com\n```\n\nWith restrictions:\n```\nhttps://enter.pollinations.ai/authorize?redirect_uri=https://myapp.com&client_id=pk_yourkey&scope=usage&models=flux,openai&expiry=7&budget=10\n```\n\n| Param | What it does | Example |\n|-------|-------------|---------|\n| `client_id` | Your publishable key — shows app name + author on consent screen, tracks traffic for tier upgrades | `pk_abc123` |\n| `redirect_uri` | Where users return after authorizing — receives the temp API key in the URL fragment | `https://myapp.com` |\n| `state` | Opaque value echoed back on the callback for CSRF protection | `any-random-string` |\n| `scope` | Account access (space or comma separated) | `usage keys` |\n| `models` | Restrict to specific models | `flux,openai,gptimage` |\n| `budget` | Numeric Pollen cap. Defaults to `5`; users can clear the budget field on the consent screen for unlimited. | `10` |\n| `expiry` | User-authorized key lifetime in days (default: 7) | `7` |\n\nLegacy names `app_key`, `redirect_url`, and `permissions` are still accepted for backwards compatibility.\n\n### 2. Handle the Redirect\n\nUser comes back with a key in the URL fragment:\n```\nhttps://myapp.com#api_key=sk_abc123xyz\n```\n\nFragment, not query param — never hits server logs. 🔒 If you passed `state`, it's echoed back: `#api_key=sk_...&state=...`. On denial the fragment is `#error=access_denied&state=...`.\n\n### 💻 Code\n\n```javascript\n// Send user to auth\nconst params = new URLSearchParams({\n  redirect_uri: location.href,\n  client_id: 'pk_yourkey', // optional — shows app name + author\n});\nwindow.location.href = `https://enter.pollinations.ai/authorize?${params}`;\n\n// Grab key from URL after redirect\nconst apiKey = new URLSearchParams(location.hash.slice(1)).get('api_key');\n\n// Use their pollen\nfetch('https://gen.pollinations.ai/v1/chat/completions', {\n  method: 'POST',\n  headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n  body: JSON.stringify({ model: 'openai', messages: [{ role: 'user', content: 'yo' }] })\n});\n```\n\n## 🖥️ CLIs & Headless Apps (Device Flow)\n\nSame authorize screen, but the user opens a browser separately. Your CLI polls for the key.\n\n**Where this fits:**\n- **Discord / Telegram / WhatsApp bots** — bot DMs the code, user approves in browser, bot gets their key\n- **CLI tools** — `pollinations login` opens a browser, CLI waits for approval\n- **MCP servers** — AI agent requests access, user approves from their browser\n- **Raspberry Pi / IoT** — headless device displays a code, user approves on their phone\n- **VS Code extensions** — extension shows the code, user approves in browser\n\n```bash\n# 1. request a device code (pass your app_key as client_id for attribution)\ncurl -X POST https://enter.pollinations.ai/api/device/code \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"client_id\": \"pk_yourkey\", \"scope\": \"generate\"}'\n# → { \"device_code\": \"...\", \"user_code\": \"ABCD-1234\", \"verification_uri\": \"/device\" }\n\n# 2. tell user: \"go to enter.pollinations.ai/device and enter ABCD-1234\"\n\n# 3. poll for the key (every 5s)\ncurl -X POST https://enter.pollinations.ai/api/device/token \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"device_code\": \"...\"}'\n# pending → { \"error\": \"authorization_pending\" }\n# done    → { \"access_token\": \"sk_...\", \"token_type\": \"bearer\", \"scope\": \"generate\" }\n```\n\n## 👤 Who's Using This Key?\n\nOnce you have the user-authorized `sk_...` key, you can check who it belongs to:\n\n```bash\ncurl https://enter.pollinations.ai/api/device/userinfo \\\n  -H 'Authorization: Bearer sk_...'\n# → { \"sub\": \"user-id\", \"name\": \"Thomas\", \"preferred_username\": \"voodoohop\", \"email\": \"...\", \"picture\": \"...\" }\n```\n\nStandard OIDC userinfo shape.\n\n---\n\n🕐 User-authorized keys default to 7 days. Users can revoke anytime from the dashboard.\n\n[edit this doc](https://github.com/pollinations/pollinations/edit/main/BRING_YOUR_OWN_POLLEN.md) · *h/t [Puter.js](https://docs.puter.com/user-pays-model/) for the idea*"
    },
    {
      "name": "🖥️ CLI",
      "description": "The Pollinations CLI — for humans, AI agents, and everything in between.\n\nGenerate text, images, audio, video from the terminal. Backed by the [Pollinations API](https://gen.pollinations.ai).\n\n```bash\nnpx @pollinations_ai/cli gen image \"a cat in space\" --output cat.png\n```\n\n## For AI agents\n\nPoint your coding agent (Claude Code, Cursor, Windsurf, Codex) at the skill file and it gets the full usage map — flags, stdin conventions, `--json` output shape, error codes, the lot:\n\n> Read https://raw.githubusercontent.com/pollinations/pollinations/main/packages/polli-cli/SKILL.md and follow the instructions to generate media with the `polli` CLI.\n\nThe skill also ships inside the package: `node_modules/@pollinations_ai/cli/SKILL.md`.\n\nEvery command is agent-friendly:\n\n- `--json` — structured stdout, human messages to stderr. Safe to parse.\n- Exit code `0` on success, non-zero on error.\n- When a call runs out of pollen, the first line of the error is the top-up link.\n- `polli auth status --json` exposes everything about the current session.\n\n## Get started\n\n```bash\nnpm install -g @pollinations_ai/cli     # installs the `polli` binary\npolli auth login                         # device-flow via enter.pollinations.ai\nprintf '%s' \"$POLLINATIONS_API_KEY\" | polli auth login --with-token\n```\n\nCredentials land at `~/.pollinations/credentials.json`. For one-off runs pass `--key sk_...` or set `POLLINATIONS_API_KEY`. Get keys at [enter.pollinations.ai](https://enter.pollinations.ai).\n\n## Generate\n\n```bash\npolli gen text \"Explain quantum tunneling in one sentence\"\npolli gen text \"Summarize this\" < notes.md          # stdin becomes context\necho \"context\" | polli gen text \"question\"\n\npolli gen image \"cyberpunk city at night\" --model flux --output city.png\npolli gen image \"enhance this\" --image https://media.pollinations.ai/abc --model gptimage\n\npolli gen audio \"Hello world\" --voice nova --output speech.mp3\npolli gen audio \"read it to me\" --play                # plays back after saving (blocks until done)\npolli gen video \"a waterfall in slow motion\" --duration 5 --output clip.mp4\npolli gen transcribe speech.mp3\n\npolli gen chat --model openai                         # interactive multi-turn\n```\n\n`gen text` streams by default. File-output commands pick a sensible default path if `--output` is omitted.\n\n## Discover\n\n```bash\npolli models                 # all models\npolli models --type image    # filter\npolli models --stats         # health + perf (last 60m)\npolli docs                   # full API reference in the terminal\npolli docs /image            # one endpoint\npolli docs --open            # open in browser\n```\n\n## Account\n\nTwo kinds of keys:\n\n- **Secret (`sk_`)** — backend use, full access. Default.\n- **Publishable (`pk_`)** — safe to ship in frontend code.\n\n```bash\npolli keys list\npolli keys create --name mybot --budget 100                    # secret (default)\npolli keys create --name myapp --type publishable              # API publishable\npolli keys create --name myapp --type publishable \\            # 3rd-party app key\n  --redirect-uri https://myapp.com/callback --earnings\npolli keys revoke <id>\n```\n\nKeys can't be edited — to change a name, budget, or model list, revoke and recreate. Publishable app keys default developer earnings off; pass `--earnings` to enable them.\n\n```bash\npolli usage                  # pollen balance\npolli usage --history        # recent requests\npolli usage --daily          # daily spend\n```\n\n## Links\n\n- [gen.pollinations.ai](https://gen.pollinations.ai) — API\n- [enter.pollinations.ai](https://enter.pollinations.ai) — dashboard, keys, billing\n- [API docs](https://gen.pollinations.ai/docs)\n- [Source](https://github.com/pollinations/pollinations/tree/main/packages/polli-cli)\n- [Discord](https://discord.gg/pollinations-ai-885844321461485618)\n\n## License\n\nMIT"
    }
  ],
  "paths": {
    "/account/profile": {
      "get": {
        "operationId": "getAccountProfile",
        "tags": [
          "👤 Account"
        ],
        "summary": "Get Profile",
        "description": "Returns your account profile. GitHub username, profile image, current tier, and next pollen refill timestamp are always returned. Name and email are returned only when the API key has the `account:profile` permission.",
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "githubUsername": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "GitHub username if linked"
                    },
                    "image": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Profile picture URL (e.g. GitHub avatar)"
                    },
                    "tier": {
                      "type": "string",
                      "enum": [
                        "anonymous",
                        "microbe",
                        "spore",
                        "seed",
                        "flower",
                        "nectar",
                        "router"
                      ],
                      "description": "User's current tier level"
                    },
                    "nextResetAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Next pollen refill timestamp (ISO 8601). `null` for tiers with no refill."
                    },
                    "name": {
                      "description": "User's display name (only returned when the key has `account:profile`)",
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "email": {
                      "description": "User's email address (only returned when the key has `account:profile`)",
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "email",
                          "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "githubUsername",
                    "image",
                    "tier",
                    "nextResetAt"
                  ]
                },
                "example": {
                  "githubUsername": "janedeveloper",
                  "image": "https://avatars.example.com/jane.jpg",
                  "name": "Jane Developer",
                  "email": "jane@example.com"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl https://gen.pollinations.ai/account/profile \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.get(\n    \"https://gen.pollinations.ai/account/profile\",\n    headers={\"Authorization\": \"Bearer YOUR_API_KEY\"},\n)\nprofile = response.json()\nprint(profile[\"githubUsername\"])"
          },
          {
            "label": "JavaScript",
            "lang": "JavaScript",
            "source": "const response = await fetch(\n  \"https://gen.pollinations.ai/account/profile\",\n  { headers: { Authorization: \"Bearer YOUR_API_KEY\" } },\n);\nconst profile = await response.json();\nconsole.log(profile.githubUsername);"
          }
        ]
      }
    },
    "/account/balance": {
      "get": {
        "operationId": "getAccountBalance",
        "tags": [
          "👤 Account"
        ],
        "summary": "Get Balance",
        "description": "Returns the pollen balance visible to the caller. API keys with a budget always see their remaining budget (no scope needed). Session auth or API keys with the `account:usage` scope see the full account balance.",
        "responses": {
          "200": {
            "description": "Pollen balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "number",
                      "description": "Remaining pollen balance (sum of tier balance + paid balance)"
                    }
                  },
                  "required": [
                    "balance"
                  ]
                },
                "example": {
                  "balance": 42.5
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied - API key has no budget and is missing the `account:usage` scope"
          }
        },
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl https://gen.pollinations.ai/account/balance \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.get(\n    \"https://gen.pollinations.ai/account/balance\",\n    headers={\"Authorization\": \"Bearer YOUR_API_KEY\"},\n)\nprint(response.json())  # {\"balance\": 42.5}"
          },
          {
            "label": "JavaScript",
            "lang": "JavaScript",
            "source": "const response = await fetch(\n  \"https://gen.pollinations.ai/account/balance\",\n  { headers: { Authorization: \"Bearer YOUR_API_KEY\" } },\n);\nconst { balance } = await response.json();\nconsole.log(balance);"
          }
        ]
      }
    },
    "/account/usage": {
      "get": {
        "operationId": "getAccountUsage",
        "tags": [
          "👤 Account"
        ],
        "summary": "Get Usage History",
        "description": "Returns your request history with per-request details: model used, token counts, cost, and response time. Defaults to the last 30 days, supports up to 90 days via `days`, or exact day/week/month periods via `granularity` and `period`. Supports JSON and CSV export. Each response is capped at 50,000 rows. Use `before` for cursor-based pagination. Requires `account:usage` permission when using API keys.",
        "responses": {
          "200": {
            "description": "Usage records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usage": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "description": "Request timestamp (YYYY-MM-DD HH:mm:ss format)"
                          },
                          "type": {
                            "type": "string",
                            "description": "Request type (e.g., 'generate.image', 'generate.text')"
                          },
                          "model": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Model used for generation"
                          },
                          "api_key": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "API key identifier used (masked)"
                          },
                          "api_key_type": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Type of API key ('secret', 'publishable')"
                          },
                          "meter_source": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Billing source: 'tier' = tier balance, 'pack' = paid balance"
                          },
                          "input_text_tokens": {
                            "type": "number",
                            "description": "Number of input text tokens"
                          },
                          "input_cached_tokens": {
                            "type": "number",
                            "description": "Number of cached input tokens"
                          },
                          "input_audio_tokens": {
                            "type": "number",
                            "description": "Number of input audio tokens"
                          },
                          "input_image_tokens": {
                            "type": "number",
                            "description": "Number of input image tokens"
                          },
                          "output_text_tokens": {
                            "type": "number",
                            "description": "Number of output text tokens"
                          },
                          "output_reasoning_tokens": {
                            "type": "number",
                            "description": "Number of reasoning tokens (for models with chain-of-thought)"
                          },
                          "output_audio_tokens": {
                            "type": "number",
                            "description": "Number of output audio tokens"
                          },
                          "output_image_tokens": {
                            "type": "number",
                            "description": "Number of output image tokens (1 per image)"
                          },
                          "cost_usd": {
                            "type": "number",
                            "description": "Cost in USD for this request"
                          },
                          "response_time_ms": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Response time in milliseconds"
                          }
                        },
                        "required": [
                          "timestamp",
                          "type",
                          "model",
                          "api_key",
                          "api_key_type",
                          "meter_source",
                          "input_text_tokens",
                          "input_cached_tokens",
                          "input_audio_tokens",
                          "input_image_tokens",
                          "output_text_tokens",
                          "output_reasoning_tokens",
                          "output_audio_tokens",
                          "output_image_tokens",
                          "cost_usd",
                          "response_time_ms"
                        ]
                      },
                      "description": "Array of usage records"
                    },
                    "count": {
                      "type": "number",
                      "description": "Number of records returned"
                    }
                  },
                  "required": [
                    "usage",
                    "count"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied - API key missing `account:usage` permission"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "format",
            "schema": {
              "default": "json",
              "type": "string",
              "enum": [
                "json",
                "csv"
              ]
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 100,
              "type": "number",
              "minimum": 1,
              "maximum": 50000
            }
          },
          {
            "in": "query",
            "name": "before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "days",
            "schema": {
              "default": 30,
              "type": "integer",
              "minimum": 1,
              "maximum": 90
            }
          },
          {
            "in": "query",
            "name": "granularity",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ]
            }
          },
          {
            "in": "query",
            "name": "period",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "# Get usage history (JSON)\ncurl \"https://gen.pollinations.ai/account/usage?limit=10\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\"\n\n# Export the latest 50,000 rows from the last 30 days as CSV\ncurl \"https://gen.pollinations.ai/account/usage?format=csv&days=30&limit=50000\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" -o usage.csv"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.get(\n    \"https://gen.pollinations.ai/account/usage\",\n    params={\"limit\": 10, \"days\": 30},\n    headers={\"Authorization\": \"Bearer YOUR_API_KEY\"},\n)\nfor record in response.json()[\"usage\"]:\n    print(f\"{record['model']}: {record['cost_usd']} pollen\")"
          }
        ]
      }
    },
    "/account/usage/daily": {
      "get": {
        "operationId": "getAccountUsageDaily",
        "tags": [
          "👤 Account"
        ],
        "summary": "Get Daily Usage",
        "description": "Returns daily aggregated usage for the requested time window, grouped by date and model. Use `days` for rolling windows or `granularity` and `period` for exact day/week/month periods. Useful for dashboards and spending analysis. Supports JSON and CSV export. Results are cached for 1 hour. Requires `account:usage` permission when using API keys.",
        "responses": {
          "200": {
            "description": "Daily usage records aggregated by date/model",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usage": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "description": "Date (YYYY-MM-DD format)"
                          },
                          "model": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Model used"
                          },
                          "meter_source": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Billing source: 'tier' = tier balance, 'pack' = paid balance"
                          },
                          "requests": {
                            "type": "number",
                            "description": "Number of requests"
                          },
                          "cost_usd": {
                            "type": "number",
                            "description": "Total cost in USD"
                          }
                        },
                        "required": [
                          "date",
                          "model",
                          "meter_source",
                          "requests",
                          "cost_usd"
                        ]
                      },
                      "description": "Array of daily usage records"
                    },
                    "count": {
                      "type": "number",
                      "description": "Number of records returned"
                    }
                  },
                  "required": [
                    "usage",
                    "count"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied - API key missing `account:usage` permission"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "format",
            "schema": {
              "default": "json",
              "type": "string",
              "enum": [
                "json",
                "csv"
              ]
            }
          },
          {
            "in": "query",
            "name": "days",
            "schema": {
              "default": 90,
              "type": "integer",
              "minimum": 1,
              "maximum": 90
            }
          },
          {
            "in": "query",
            "name": "granularity",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ]
            }
          },
          {
            "in": "query",
            "name": "period",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "api_key_ids",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl \"https://gen.pollinations.ai/account/usage/daily?days=30\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""
          }
        ]
      }
    },
    "/account/earnings": {
      "get": {
        "operationId": "getAccountEarnings",
        "tags": [
          "👤 Account"
        ],
        "summary": "Get Developer Earnings",
        "description": "Returns developer earnings (BYOP markup) in one response: per-(date, app) buckets, per-app rollups, and the global rollup across all apps. Earnings = total_price − dev_price. Use `days` for rolling windows or `granularity` and `period` for exact day/week/month periods. Cached for 1 hour. Requires `account:usage` permission when using API keys.",
        "responses": {
          "200": {
            "description": "Combined earnings buckets and rollups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "daily": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "description": "Date bucket (YYYY-MM-DD or hourly); empty string on rollup rows"
                          },
                          "app_key_id": {
                            "type": "string",
                            "description": "BYOP app key id; empty string on the global rollup row"
                          },
                          "app_name": {
                            "type": "string",
                            "description": "App display name"
                          },
                          "requests": {
                            "type": "number",
                            "description": "Number of billed requests"
                          },
                          "pollen_earned": {
                            "type": "number",
                            "description": "Pollen earned (markup take)"
                          },
                          "markup_rate": {
                            "type": "number",
                            "description": "Average markup rate applied"
                          },
                          "unique_users": {
                            "type": "number",
                            "description": "Distinct end-users who paid. Always 0 on daily/hourly bucket rows by design — meaningful only on rollup rows (where date='')."
                          }
                        },
                        "required": [
                          "date",
                          "app_key_id",
                          "app_name",
                          "requests",
                          "pollen_earned",
                          "markup_rate",
                          "unique_users"
                        ]
                      },
                      "description": "Per-(date, app) buckets for the period"
                    },
                    "perApp": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "description": "Date bucket (YYYY-MM-DD or hourly); empty string on rollup rows"
                          },
                          "app_key_id": {
                            "type": "string",
                            "description": "BYOP app key id; empty string on the global rollup row"
                          },
                          "app_name": {
                            "type": "string",
                            "description": "App display name"
                          },
                          "requests": {
                            "type": "number",
                            "description": "Number of billed requests"
                          },
                          "pollen_earned": {
                            "type": "number",
                            "description": "Pollen earned (markup take)"
                          },
                          "markup_rate": {
                            "type": "number",
                            "description": "Average markup rate applied"
                          },
                          "unique_users": {
                            "type": "number",
                            "description": "Distinct end-users who paid. Always 0 on daily/hourly bucket rows by design — meaningful only on rollup rows (where date='')."
                          }
                        },
                        "required": [
                          "date",
                          "app_key_id",
                          "app_name",
                          "requests",
                          "pollen_earned",
                          "markup_rate",
                          "unique_users"
                        ]
                      },
                      "description": "Per-app rollups for the period"
                    },
                    "global": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "date": {
                              "type": "string",
                              "description": "Date bucket (YYYY-MM-DD or hourly); empty string on rollup rows"
                            },
                            "app_key_id": {
                              "type": "string",
                              "description": "BYOP app key id; empty string on the global rollup row"
                            },
                            "app_name": {
                              "type": "string",
                              "description": "App display name"
                            },
                            "requests": {
                              "type": "number",
                              "description": "Number of billed requests"
                            },
                            "pollen_earned": {
                              "type": "number",
                              "description": "Pollen earned (markup take)"
                            },
                            "markup_rate": {
                              "type": "number",
                              "description": "Average markup rate applied"
                            },
                            "unique_users": {
                              "type": "number",
                              "description": "Distinct end-users who paid. Always 0 on daily/hourly bucket rows by design — meaningful only on rollup rows (where date='')."
                            }
                          },
                          "required": [
                            "date",
                            "app_key_id",
                            "app_name",
                            "requests",
                            "pollen_earned",
                            "markup_rate",
                            "unique_users"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Global rollup across all apps for the period"
                    }
                  },
                  "required": [
                    "daily",
                    "perApp",
                    "global"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied - API key missing `account:usage` permission"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "format",
            "schema": {
              "default": "json",
              "type": "string",
              "enum": [
                "json",
                "csv"
              ]
            }
          },
          {
            "in": "query",
            "name": "days",
            "schema": {
              "default": 90,
              "type": "integer",
              "minimum": 1,
              "maximum": 90
            }
          },
          {
            "in": "query",
            "name": "granularity",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ]
            }
          },
          {
            "in": "query",
            "name": "period",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "api_key_ids",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/account/keys": {
      "get": {
        "operationId": "getAccountKeys",
        "tags": [
          "👤 Account"
        ],
        "summary": "List API Keys",
        "description": "List all API keys for the current user. Requires `account:keys` permission when using API keys. Secret key values are never returned.",
        "responses": {
          "200": {
            "description": "List of API keys"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied"
          }
        }
      },
      "post": {
        "operationId": "postAccountKeys",
        "tags": [
          "👤 Account"
        ],
        "summary": "Create API Key",
        "description": "Create a new API key. To create an app key, use `type: \"publishable\"` with `redirectUris`. Publishable app keys default developer earnings off; send `earningsEnabled: true` to opt in. Requires `account:keys` permission and a secret key (sk_). The full key value is returned only once in the response. The `keys` account permission is automatically stripped from child keys to prevent escalation.",
        "responses": {
          "200": {
            "description": "Created API key with full secret"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied or publishable key"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 253,
                    "description": "Name for the API key"
                  },
                  "type": {
                    "default": "secret",
                    "description": "Key type: secret (sk_) or publishable app key (pk_). Use publishable to create an app key.",
                    "type": "string",
                    "enum": [
                      "secret",
                      "publishable"
                    ]
                  },
                  "expiresIn": {
                    "description": "Expiry in seconds from now (max 365 days)",
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 31536000
                  },
                  "allowedModels": {
                    "description": "Model IDs this key can access. null = all models",
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "pollenBudget": {
                    "description": "Pollen budget cap. null = unlimited",
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "accountPermissions": {
                    "description": "Account permissions (e.g. [\"usage\"]). \"keys\" is auto-stripped.",
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "redirectUris": {
                    "description": "Allowed OAuth redirect URIs for publishable app keys. Required for OAuth app flows. Matching pins scheme, host, port, and path; one trailing slash is ignored. If the registered URI has no query, incoming query params are allowed; if it has a query, the query must match exactly. Loopback ports are matched port-agnostically.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "earningsEnabled": {
                    "description": "Enable developer earnings for publishable app keys. Defaults to false; send true to opt in.",
                    "type": "boolean"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Create app key",
            "lang": "Shell",
            "source": "curl https://gen.pollinations.ai/account/keys \\\n  -H \"Authorization: Bearer YOUR_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"name\": \"myapp\",\n    \"type\": \"publishable\",\n    \"redirectUris\": [\"https://myapp.com/callback\"]\n  }'"
          }
        ]
      }
    },
    "/account/keys/{id}": {
      "delete": {
        "operationId": "deleteAccountKeysById",
        "tags": [
          "👤 Account"
        ],
        "summary": "Revoke API Key",
        "description": "Delete/revoke an API key. Requires `account:keys` permission and a secret key (sk_). Cannot revoke the key used to authenticate the request.",
        "responses": {
          "200": {
            "description": "Key revoked"
          },
          "400": {
            "description": "Cannot revoke self"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied"
          },
          "404": {
            "description": "Key not found"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      }
    },
    "/account/key": {
      "get": {
        "operationId": "getAccountKey",
        "tags": [
          "👤 Account"
        ],
        "summary": "Get API Key Info",
        "description": "Returns information about the API key used in the request: validity, type (secret/publishable), expiry, permissions, and remaining budget. Useful for validating keys without making generation requests.",
        "responses": {
          "200": {
            "description": "API key status and information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean",
                      "description": "Whether the API key is valid and active"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "publishable",
                        "secret"
                      ],
                      "description": "Type of API key"
                    },
                    "name": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Display name of the API key"
                    },
                    "expiresAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Expiry timestamp in ISO 8601 format, null if never expires"
                    },
                    "expiresIn": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Seconds until expiry, null if never expires"
                    },
                    "permissions": {
                      "type": "object",
                      "properties": {
                        "models": {
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "List of allowed model IDs, null = all models allowed"
                        },
                        "account": {
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "List of account permissions, null = no account access"
                        }
                      },
                      "required": [
                        "models",
                        "account"
                      ],
                      "description": "API key permissions"
                    },
                    "pollenBudget": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Remaining pollen budget for this key, null = unlimited (uses user balance)"
                    },
                    "rateLimitEnabled": {
                      "type": "boolean",
                      "description": "Whether rate limiting is enabled for this key"
                    }
                  },
                  "required": [
                    "valid",
                    "type",
                    "name",
                    "expiresAt",
                    "expiresIn",
                    "permissions",
                    "pollenBudget",
                    "rateLimitEnabled"
                  ]
                },
                "example": {
                  "valid": true,
                  "type": "secret",
                  "name": "my-bot",
                  "expiresAt": null,
                  "expiresIn": null,
                  "permissions": {
                    "models": null,
                    "account": [
                      "usage"
                    ]
                  },
                  "pollenBudget": null,
                  "rateLimitEnabled": false
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        },
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl https://gen.pollinations.ai/account/key \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.get(\n    \"https://gen.pollinations.ai/account/key\",\n    headers={\"Authorization\": \"Bearer YOUR_API_KEY\"},\n)\nkey_info = response.json()\nprint(f\"Valid: {key_info['valid']}, Type: {key_info['type']}\")"
          },
          {
            "label": "JavaScript",
            "lang": "JavaScript",
            "source": "const response = await fetch(\n  \"https://gen.pollinations.ai/account/key\",\n  { headers: { Authorization: \"Bearer YOUR_API_KEY\" } },\n);\nconst keyInfo = await response.json();\nconsole.log(`Valid: ${keyInfo.valid}, Type: ${keyInfo.type}`);"
          }
        ]
      }
    },
    "/account/key/usage": {
      "get": {
        "operationId": "getAccountKeyUsage",
        "tags": [
          "👤 Account"
        ],
        "summary": "Get API Key Usage",
        "description": "Returns usage history for the API key used in the request. No scope required — a key can always read its own usage. For account-wide usage across all keys, use `/account/usage` with the `account:usage` scope.",
        "responses": {
          "200": {
            "description": "Usage records for this key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usage": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "description": "Request timestamp (YYYY-MM-DD HH:mm:ss format)"
                          },
                          "type": {
                            "type": "string",
                            "description": "Request type (e.g., 'generate.image', 'generate.text')"
                          },
                          "model": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Model used for generation"
                          },
                          "api_key": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "API key identifier used (masked)"
                          },
                          "api_key_type": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Type of API key ('secret', 'publishable')"
                          },
                          "meter_source": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Billing source: 'tier' = tier balance, 'pack' = paid balance"
                          },
                          "input_text_tokens": {
                            "type": "number",
                            "description": "Number of input text tokens"
                          },
                          "input_cached_tokens": {
                            "type": "number",
                            "description": "Number of cached input tokens"
                          },
                          "input_audio_tokens": {
                            "type": "number",
                            "description": "Number of input audio tokens"
                          },
                          "input_image_tokens": {
                            "type": "number",
                            "description": "Number of input image tokens"
                          },
                          "output_text_tokens": {
                            "type": "number",
                            "description": "Number of output text tokens"
                          },
                          "output_reasoning_tokens": {
                            "type": "number",
                            "description": "Number of reasoning tokens (for models with chain-of-thought)"
                          },
                          "output_audio_tokens": {
                            "type": "number",
                            "description": "Number of output audio tokens"
                          },
                          "output_image_tokens": {
                            "type": "number",
                            "description": "Number of output image tokens (1 per image)"
                          },
                          "cost_usd": {
                            "type": "number",
                            "description": "Cost in USD for this request"
                          },
                          "response_time_ms": {
                            "anyOf": [
[...]
